overlays
# build directories
target/

# example/test content
applications/streams/samples/

# IDE's
*.iml
.idea
/base-webapp/WEB-INF/data/
/tests/work/
/example-webapp/data/
/applications/searchrelate/out/
/applications/streams/samplesnot/
/applications/share/xalan-j_2_7_2/
/applications/vpro-wizards/out/
/applications/cloudcontext/out/
